* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgba(128, 128, 128, 0.57);
    font-family:sans-serif;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    padding: 20px;
    margin: 0 auto;

}

.card{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    text-align:center;
}

.card h2,.card p,.card a, .card img{
    margin-bottom: 10px;
}

.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.btn{
    background-color: #000b16;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2px;
}

.btn:hover{
    background-color: #584f9e;
    color: #fff;
    }